{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titlePage %}
Cadastro
{%endblock%}
{% block css %}

{%endblock%}

{% block content %}

<!--body-->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div class="card bg-light">
                <h5 class="card-title text-center mt-3">Cadastrar Jovem</h5>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

{% block scripts %}
<!--scripts-->
{% endblock %}

{% endblock content %}