{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titlePage %}
Lista de Jovens
{%endblock%}
{% block css %}
<!-- href css -->

{%endblock%}

{% block content %}

<div class="container">

    <h3 class="text-center">Lista de Jovens</h3>

    <div class="row ">


        {% for jovens in lista %}
        <div class="col-6 col-sm-3 text-center mt-3">

            <img src="{{jovens.foto.url}}" width="140" height="130" alt="">


            <h6 class="text-nowrap"><b> {{jovens.nome}} </b></h6>
            <p>
                <a href="https://api.whatsapp.com/send?phone=55{{jovens.telefone}}&text=Oi {{jovens.nome}}, tudo bem? Senti sua falta hoje na reunião"
                   >
                    <img src="{% static 'img/whatsapp.png' %}">
                </a>

                <a href="{% url 'edit_jovem' pk=jovens.pk %}" >
                    <img src="{% static 'img/edit.png' %}">
                </a>

                <a href="{% url 'delete_jovem' pk=jovens.pk %}" >
                    <img src="{% static 'img/delete.png' %}">
                </a>

                <a href="{% url 'presenca_jovem' pk=jovens.pk %}" >
                    {% if "SIM" == jovens.presenca %}
                    <img src="{% static 'img/ok.png' %}">
                    {% else %}
                    <img src="{% static 'img/x.png' %}">
                    {% endif %}
                </a>
            </p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}