{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titlePage %}
Lista de Jovens
{%endblock%}
{% block css %}
<!-- href css -->

{%endblock%}

{% block content %}

<div class="container">

    <h3 class="text-center">Lista de Jovens</h3>
    <div class="d-flex justify-content-center">
        <form method="GET" action="">
            <div class="input-group mb-0">
                {{filtro}}
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit"
                            style="min-width: auto;">
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row ">


        {% for jovens in lista %}
        <div class="col-6 col-sm-3 text-center mt-3">

            <img class="rounded-circle article-img" src="data:image/png;base64, {{jovens.foto_base64}}" width="140" height="130" alt="">


            <h6 class="text-nowrap"><b> {{jovens.nome}} </b></h6>
            <p>
                <a href="https://api.whatsapp.com/send?phone=55{{jovens.telefone}}&text=Olá {{jovens.nome}}, você já está chegando para o nossa reunião?"
                >
                    <img src="{% static 'img/whatsapp.png' %}">
                </a>

                <a href="{% url 'edit_jovem' pk=jovens.pk %}">
                    <img src="{% static 'img/edit.png' %}">
                </a>

                <a href="{% url 'delete_jovem' pk=jovens.pk %}">
                    <img src="{% static 'img/delete.png' %}">
                </a>

                <a href="{% url 'presenca_jovem' pk=jovens.pk %}">
                    {% if "SIM" == jovens.presenca %}
                    <img src="{% static 'img/ok.png' %}">
                    {% else %}
                    <img src="{% static 'img/x.png' %}">
                    {% endif %}
                </a>
            </p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}